header {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
nav {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    margin-left: 25px;
}
ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}
li {
    padding-right: 20px;
    padding-left: 20px;
}
a {
    text-decoration: none;
    color:black;
    font-family: 'Raleway', sans-serif;
}
a:hover {
    color: #0065FC;
}
.inscription {
    border: none;
    background-color: white;
    color: #0065FC;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    margin-right: 20px;
}

#logo {
    width: 100px;
    height: auto;
    margin-top: 25px;
    margin-left: 25px;
}
h1, h3, p{
    font-family: 'Raleway', sans-serif;
}

.searchbar {
    width: 340px;
    height: 40px;
    border: 1px solid lightgrey;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: row;
}
.searchbar__input {
    width: 200px;
    height: 38px;
    border: none;
}
.searchbar__input::placeholder {
    padding-left: 10px;
    color:black;
    font-weight: bold;
}
.searchbar i {
    width: 20px;
    height: 20px;
    padding: 10px 10px;
    background-color: #F2F2F2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.searchbar__button {
    width: 100px;
    height: 40px;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    background-color: #0065FC;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.filters {
    margin-top: 20px;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
button {
    background-color: white;
    border: none;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}
.filters__element {
    margin-left: 20px;
    border: 1px solid #F2F2F2;
    border-radius: 30px;
    width: 200px;
    height: 60px;
    display: flex;
    align-items: center;
}


.fa-map-marker-alt {
  color: black;
}
.infos__icon, .filters__element__icon {
    color:#0065FC;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.filters__element__icon {
    background-color: #DEEBFF;
    width: 60px;
    height: 60px;
}
.infos__icon {
    border: 1px solid #DEEBFF;
    margin-right: 10px;
    width: 30px;
    height: 30px;
}
.infos {
    display: flex;
    flex-direction: row;
    align-items: center;
}

img {
    width: 320px;
    height: 140px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hébergements {
    width: 100%;
    height: 700px;
}
.hébergements__marseille {
    width: 1280px;
    height: 700px;
    background-color:#F2F2F2;
    border-radius: 20px;
}
.container__hébergements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.section__title {
    padding-top: 40px;
    padding-left: 20px;
}
aside {
    width: 30%;
}
.hebergement__card {
    width: 320px;
    height: auto;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: white;
    border: 3px solid white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}
.hebergement__card h3, p, .rating{
    margin: 5px 10px;
}

.fa-star {
    color: #0065FC;
}
.far {
    color: #F2F2F2;
}